<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="krftme-tag-heading" data-cy="TagCreateUpdateHeading" krftmeTranslate="krftmeApp.tag.home.createOrEditLabel">
        Créer ou éditer un Tag
      </h2>

      <div>
        <krftme-alert-error></krftme-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" krftmeTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" krftmeTranslate="krftmeApp.tag.label" for="field_label">Label</label>
          <input type="text" class="form-control" name="label" id="field_label" data-cy="label" formControlName="label" />
          <div *ngIf="editForm.get('label')!.invalid && (editForm.get('label')!.dirty || editForm.get('label')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('label')?.errors?.required"
              krftmeTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" krftmeTranslate="krftmeApp.tag.applicationUserOffer" for="field_applicationUserOffer"
            >Application User Offer</label
          >
          <select
            class="form-control"
            id="field_applicationUserOffer"
            data-cy="applicationUserOffer"
            name="applicationUserOffer"
            formControlName="applicationUserOffer"
            [compareWith]="compareApplicationUserOffer"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="applicationUserOfferOption" *ngFor="let applicationUserOfferOption of applicationUserOffersSharedCollection">
              {{ applicationUserOfferOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span krftmeTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span krftmeTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
