<div>
  <h2 id="page-heading" data-cy="BadgeHeading">
    <span jhiTranslate="krftmeApp.badge.home.title">Badges</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="krftmeApp.badge.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-badge"
        [routerLink]="['/badge/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="krftmeApp.badge.home.createLabel"> Créer un nouveau Badge </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="badges?.length === 0">
    <span jhiTranslate="krftmeApp.badge.home.notFound">Aucun Badge trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="badges && badges.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="label">
            <div class="d-flex">
              <span jhiTranslate="krftmeApp.badge.label">Label</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="picture">
            <div class="d-flex">
              <span jhiTranslate="krftmeApp.badge.picture">Picture</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let badge of badges; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/badge', badge.id, 'view']">{{ badge.id }}</a>
          </td>
          <td>{{ badge.label }}</td>
          <td>
            <a *ngIf="badge.picture" (click)="openFile(badge.picture, badge.pictureContentType)">
              <img [src]="'data:' + badge.pictureContentType + ';base64,' + badge.picture" style="max-height: 30px" alt="badge image" />
            </a>
            <span *ngIf="badge.picture">{{ badge.pictureContentType }}, {{ byteSize(badge.picture) }}</span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/badge', badge.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button type="submit" [routerLink]="['/badge', badge.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(badge)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
