<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="applicationUserBadge">
      <h2 data-cy="applicationUserBadgeDetailsHeading">
        <span krftmeTranslate="krftmeApp.applicationUserBadge.detail.title">Application User Badge</span>
      </h2>

      <hr />

      <krftme-alert-error></krftme-alert-error>

      <krftme-alert></krftme-alert>

      <dl class="row-md jh-entity-details">
        <dt><span krftmeTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ applicationUserBadge.id }}</span>
        </dd>
        <dt><span krftmeTranslate="krftmeApp.applicationUserBadge.obtentionDate">Obtention Date</span></dt>
        <dd>
          <span>{{ applicationUserBadge.obtentionDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span krftmeTranslate="krftmeApp.applicationUserBadge.applicationUser">Application User</span></dt>
        <dd>
          <div *ngIf="applicationUserBadge.applicationUser">
            <a [routerLink]="['/application-user', applicationUserBadge.applicationUser.id, 'view']">{{
              applicationUserBadge.applicationUser.id
            }}</a>
          </div>
        </dd>
        <dt><span krftmeTranslate="krftmeApp.applicationUserBadge.badge">Badge</span></dt>
        <dd>
          <div *ngIf="applicationUserBadge.badge">
            <a [routerLink]="['/badge', applicationUserBadge.badge.id, 'view']">{{ applicationUserBadge.badge.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span krftmeTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/application-user-badge', applicationUserBadge.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span krftmeTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
