<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="city">
      <h2 data-cy="cityDetailsHeading"><span jhiTranslate="krftmeApp.city.detail.title">City</span></h2>

      <hr />

      <krftme-alert-error></krftme-alert-error>

      <krftme-alert></krftme-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ city.id }}</span>
        </dd>
        <dt><span jhiTranslate="krftmeApp.city.name">Name</span></dt>
        <dd>
          <span>{{ city.name }}</span>
        </dd>
        <dt><span jhiTranslate="krftmeApp.city.region">Region</span></dt>
        <dd>
          <div *ngIf="city.region">
            <a [routerLink]="['/region', city.region.id, 'view']">{{ city.region.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/city', city.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
