<div>
  <h2 id="page-heading" data-cy="ShowcaseHeading">
    <span krftmeTranslate="krftmeApp.krftmeMicroserviceShowcase.home.title">Showcases</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span krftmeTranslate="krftmeApp.krftmeMicroserviceShowcase.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-showcase"
        [routerLink]="['/showcase/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span krftmeTranslate="krftmeApp.krftmeMicroserviceShowcase.home.createLabel"> Créer un nouveau Showcase </span>
      </button>
    </div>
  </h2>

  <krftme-alert-error></krftme-alert-error>

  <krftme-alert></krftme-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="showcases?.length === 0">
    <span krftmeTranslate="krftmeApp.krftmeMicroserviceShowcase.home.notFound">Aucun Showcase trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="showcases && showcases.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr (sortChange)="navigateToWithComponentValues()" [(ascending)]="ascending" [(predicate)]="predicate" krftmeSort>
          <th krftmeSortBy="id" scope="col">
            <div class="d-flex">
              <span krftmeTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th krftmeSortBy="imageId" scope="col">
            <div class="d-flex">
              <span krftmeTranslate="krftmeApp.krftmeMicroserviceShowcase.imageId">Image Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th krftmeSortBy="offer.id" scope="col">
            <div class="d-flex">
              <span krftmeTranslate="krftmeApp.krftmeMicroserviceShowcase.offer">Offer</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let showcase of showcases; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/showcase', showcase.id, 'view']">{{ showcase.id }}</a>
          </td>
          <td>{{ showcase.imageId }}</td>
          <td>
            <div *ngIf="showcase.offer">
              <a [routerLink]="['/application-user-offer', showcase.offer.id, 'view']">{{ showcase.offer.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/showcase', showcase.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" krftmeTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/showcase', showcase.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" krftmeTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(showcase)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" krftmeTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
