<div class="d-flex justify-content-center">
  <div class="col-8">
    <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
      <h2
        data-cy="ShowcaseCreateUpdateHeading"
        id="krftme-showcase-heading"
        krftmeTranslate="krftmeApp.krftmeMicroserviceShowcase.home.createOrEditLabel"
      >
        Créer ou éditer un Showcase
      </h2>

      <div>
        <krftme-alert-error></krftme-alert-error>

        <div *ngIf="editForm.controls.id.value !== null" class="row mb-3">
          <label class="form-label" for="field_id" krftmeTranslate="global.field.id">ID</label>
          <input [readonly]="true" class="form-control" data-cy="id" formControlName="id" id="field_id" name="id" type="number" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_imageId" krftmeTranslate="krftmeApp.krftmeMicroserviceShowcase.imageId">Image Id</label>
          <input class="form-control" data-cy="imageId" formControlName="imageId" id="field_imageId" name="imageId" type="text" />
          <div *ngIf="editForm.get('imageId')!.invalid && (editForm.get('imageId')!.dirty || editForm.get('imageId')!.touched)">
            <small
              *ngIf="editForm.get('imageId')?.errors?.required"
              class="form-text text-danger"
              krftmeTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_offer" krftmeTranslate="krftmeApp.krftmeMicroserviceShowcase.offer">Offer</label>
          <select
            [compareWith]="compareApplicationUserOffer"
            class="form-control"
            data-cy="offer"
            formControlName="offer"
            id="field_offer"
            name="offer"
          >
            <option *ngIf="editForm.get(['offer'])!.value == null" [ngValue]="null" selected></option>
            <option *ngFor="let applicationUserOfferOption of applicationUserOffersSharedCollection" [ngValue]="applicationUserOfferOption">
              {{ applicationUserOfferOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['offer'])!.invalid && (editForm.get(['offer'])!.dirty || editForm.get(['offer'])!.touched)">
          <small
            *ngIf="editForm.get(['offer'])?.errors?.required"
            class="form-text text-danger"
            krftmeTranslate="entity.validation.required"
          >
            Ce champ est obligatoire.
          </small>
        </div>
      </div>

      <div>
        <button (click)="previousState()" class="btn btn-secondary" data-cy="entityCreateCancelButton" id="cancel-save" type="button">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span krftmeTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
          data-cy="entityCreateSaveButton"
          id="save-entity"
          type="submit"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span krftmeTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
