<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="krftme-application-user-heading"
        data-cy="ApplicationUserCreateUpdateHeading"
        krftmeTranslate="krftmeApp.applicationUser.home.createOrEditLabel"
      >
        Créer ou éditer un Application User
      </h2>

      <div>
        <krftme-alert-error></krftme-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" krftmeTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" krftmeTranslate="krftmeApp.applicationUser.firstName" for="field_firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
          <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('firstName')?.errors?.required"
              krftmeTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" krftmeTranslate="krftmeApp.applicationUser.lastName" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
          <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastName')?.errors?.required"
              krftmeTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" krftmeTranslate="krftmeApp.applicationUser.pseudo" for="field_pseudo">Pseudo</label>
          <input type="text" class="form-control" name="pseudo" id="field_pseudo" data-cy="pseudo" formControlName="pseudo" />
          <div *ngIf="editForm.get('pseudo')!.invalid && (editForm.get('pseudo')!.dirty || editForm.get('pseudo')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pseudo')?.errors?.required"
              krftmeTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" krftmeTranslate="krftmeApp.applicationUser.averageRating" for="field_averageRating"
            >Average Rating</label
          >
          <input
            type="number"
            class="form-control"
            name="averageRating"
            id="field_averageRating"
            data-cy="averageRating"
            formControlName="averageRating"
          />
          <div
            *ngIf="
              editForm.get('averageRating')!.invalid && (editForm.get('averageRating')!.dirty || editForm.get('averageRating')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('averageRating')?.errors?.required"
              krftmeTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('averageRating')?.errors?.number"
              krftmeTranslate="entity.validation.number"
            >
              Ce champ doit être un nombre.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" krftmeTranslate="krftmeApp.applicationUser.internalUser" for="field_internalUser">Internal User</label>
          <select
            class="form-control"
            id="field_internalUser"
            data-cy="internalUser"
            name="internalUser"
            formControlName="internalUser"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" krftmeTranslate="krftmeApp.applicationUser.city" for="field_city">City</label>
          <select class="form-control" id="field_city" data-cy="city" name="city" formControlName="city" [compareWith]="compareCity">
            <option [ngValue]="null"></option>
            <option [ngValue]="cityOption" *ngFor="let cityOption of citiesSharedCollection">{{ cityOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label krftmeTranslate="krftmeApp.applicationUser.favoriteApplicationUser" for="field_favoriteApplicationUsers"
            >Favorite Application User</label
          >
          <select
            class="form-control"
            id="field_favoriteApplicationUsers"
            data-cy="favoriteApplicationUser"
            multiple
            name="favoriteApplicationUsers"
            formControlName="favoriteApplicationUsers"
            [compareWith]="compareApplicationUser"
          >
            <option [ngValue]="applicationUserOption" *ngFor="let applicationUserOption of applicationUsersSharedCollection">
              {{ applicationUserOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label krftmeTranslate="krftmeApp.applicationUser.favoriteOffer" for="field_favoriteOffers">Favorite Offer</label>
          <select
            class="form-control"
            id="field_favoriteOffers"
            data-cy="favoriteOffer"
            multiple
            name="favoriteOffers"
            formControlName="favoriteOffers"
            [compareWith]="compareOffer"
          >
            <option [ngValue]="offerOption" *ngFor="let offerOption of offersSharedCollection">{{ offerOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span krftmeTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span krftmeTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
