<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="applicationUser">
      <h2 data-cy="applicationUserDetailsHeading">
        <span krftmeTranslate="krftmeApp.applicationUser.detail.title">Application User</span>
      </h2>

      <hr />

      <krftme-alert-error></krftme-alert-error>

      <krftme-alert></krftme-alert>

      <dl class="row-md jh-entity-details">
        <dt><span krftmeTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ applicationUser.id }}</span>
        </dd>
        <dt><span krftmeTranslate="krftmeApp.applicationUser.firstName">First Name</span></dt>
        <dd>
          <span>{{ applicationUser.firstName }}</span>
        </dd>
        <dt><span krftmeTranslate="krftmeApp.applicationUser.lastName">Last Name</span></dt>
        <dd>
          <span>{{ applicationUser.lastName }}</span>
        </dd>
        <dt><span krftmeTranslate="krftmeApp.applicationUser.pseudo">Pseudo</span></dt>
        <dd>
          <span>{{ applicationUser.pseudo }}</span>
        </dd>
        <dt><span krftmeTranslate="krftmeApp.applicationUser.averageRating">Average Rating</span></dt>
        <dd>
          <span>{{ applicationUser.averageRating }}</span>
        </dd>
        <dt><span krftmeTranslate="krftmeApp.applicationUser.internalUser">Internal User</span></dt>
        <dd>
          <span>{{ applicationUser.internalUser?.id }}</span>
        </dd>
        <dt><span krftmeTranslate="krftmeApp.applicationUser.city">City</span></dt>
        <dd>
          <div *ngIf="applicationUser.city">
            <a [routerLink]="['/city', applicationUser.city.id, 'view']">{{ applicationUser.city.id }}</a>
          </div>
        </dd>
        <dt><span krftmeTranslate="krftmeApp.applicationUser.favoriteApplicationUser">Favorite Application User</span></dt>
        <dd>
          <span *ngFor="let favoriteApplicationUser of applicationUser.favoriteApplicationUsers; let last = last">
            <a [routerLink]="['/application-user', favoriteApplicationUser.id, 'view']">{{ favoriteApplicationUser.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span krftmeTranslate="krftmeApp.applicationUser.favoriteOffer">Favorite Offer</span></dt>
        <dd>
          <span *ngFor="let favoriteOffer of applicationUser.favoriteOffers; let last = last">
            <a [routerLink]="['/offer', favoriteOffer.id, 'view']">{{ favoriteOffer.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span krftmeTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/application-user', applicationUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span krftmeTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
