<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="rating">
      <h2 data-cy="ratingDetailsHeading"><span krftmeTranslate="krftmeApp.rating.detail.title">Rating</span></h2>

      <hr />

      <krftme-alert-error></krftme-alert-error>

      <krftme-alert></krftme-alert>

      <dl class="row-md jh-entity-details">
        <dt><span krftmeTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ rating.id }}</span>
        </dd>
        <dt><span krftmeTranslate="krftmeApp.rating.rate">Rate</span></dt>
        <dd>
          <span>{{ rating.rate }}</span>
        </dd>
        <dt><span krftmeTranslate="krftmeApp.rating.comment">Comment</span></dt>
        <dd>
          <span>{{ rating.comment }}</span>
        </dd>
        <dt><span krftmeTranslate="krftmeApp.rating.applicationUserOffer">Application User Offer</span></dt>
        <dd>
          <div *ngIf="rating.applicationUserOffer">
            <a [routerLink]="['/application-user-offer', rating.applicationUserOffer.id, 'view']">{{ rating.applicationUserOffer.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span krftmeTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/rating', rating.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span krftmeTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
