<form (ngSubmit)="confirmDelete(region.id!)" *ngIf="region" name="deleteForm">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="regionDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirmation de
      suppression</h4>

    <button (click)="cancel()" aria-hidden="true" class="btn-close" data-dismiss="modal" type="button">&times;</button>
  </div>

  <div class="modal-body">
    <krftme-alert-error></krftme-alert-error>
    <p
      [translateValues]="{ id: region.id }"
      id="krftme-delete-region-heading"
      jhiTranslate="krftmeApp.krftmeMicroserviceRegion.delete.question"
    >
      Êtes-vous certain de vouloir supprimer le Region {{ region.id }} ?
    </p>
  </div>

  <div class="modal-footer">
    <button (click)="cancel()" class="btn btn-secondary" data-dismiss="modal" type="button">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
    </button>

    <button class="btn btn-danger" data-cy="entityConfirmDeleteButton" id="krftme-confirm-delete-region" type="submit">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Supprimer</span>
    </button>
  </div>
</form>
