<div class="d-flex justify-content-center">
  <div class="col-8">
    <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
      <h2
        data-cy="MachineCategoryCreateUpdateHeading"
        id="krftme-machine-category-heading"
        krftmeTranslate="krftmeApp.krftmeMicroserviceMachineCategory.home.createOrEditLabel"
      >
        Créer ou éditer un Machine Category
      </h2>

      <div>
        <krftme-alert-error></krftme-alert-error>

        <div *ngIf="editForm.controls.id.value !== null" class="row mb-3">
          <label class="form-label" for="field_id" krftmeTranslate="global.field.id">ID</label>
          <input [readonly]="true" class="form-control" data-cy="id" formControlName="id" id="field_id" name="id" type="number" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_label" krftmeTranslate="krftmeApp.krftmeMicroserviceMachineCategory.label">Label</label>
          <input class="form-control" data-cy="label" formControlName="label" id="field_label" name="label" type="text" />
          <div *ngIf="editForm.get('label')!.invalid && (editForm.get('label')!.dirty || editForm.get('label')!.touched)">
            <small
              *ngIf="editForm.get('label')?.errors?.required"
              class="form-text text-danger"
              krftmeTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
            <small
              *ngIf="editForm.get('label')?.errors?.minlength"
              [translateValues]="{ min: 1 }"
              class="form-text text-danger"
              krftmeTranslate="entity.validation.minlength"
            >
              Ce champ doit faire au minimum 1 caractères.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button (click)="previousState()" class="btn btn-secondary" data-cy="entityCreateCancelButton" id="cancel-save" type="button">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span krftmeTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
          data-cy="entityCreateSaveButton"
          id="save-entity"
          type="submit"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span krftmeTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
