<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="offer">
      <h2 data-cy="offerDetailsHeading"><span jhiTranslate="krftmeApp.offer.detail.title">Offer</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <div class="details">
        <div class="details-img">
          <img src="{{ offer.picture_link }}" alt="img_offer" />
        </div>
        <div class="details-text">
          <h1>
            {{ offer.title }}
          </h1>
          <h2>
            {{ offer.machine }}
          </h2>
          <h2>
            {{ offer.autor }}
          </h2>
          <p>
            {{ offer.description }}
          </p>
        </div>
      </div>

      <div class="packages">
        <jhi-offer-package *ngFor="let package of this.offer.packages" [package]="package" ngClass="package"> </jhi-offer-package>
      </div>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/offer', offer.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
