<div>
  <h2 id="page-heading" data-cy="ApplicationUserOfferHeading">
    <span krftmeTranslate="krftmeApp.applicationUserOffer.home.title">ApplicationUserOffers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span krftmeTranslate="krftmeApp.applicationUserOffer.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-application-user-offer"
        [routerLink]="['/application-user-offer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span krftmeTranslate="krftmeApp.applicationUserOffer.home.createLabel"> Créer un nouveau Application User Offer </span>
      </button>
    </div>
  </h2>

  <krftme-alert-error></krftme-alert-error>

  <krftme-alert></krftme-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="applicationUserOffers?.length === 0">
    <span krftmeTranslate="krftmeApp.applicationUserOffer.home.notFound">Aucun Application User Offer trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="applicationUserOffers && applicationUserOffers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr krftmeSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" krftmeSortBy="id">
            <div class="d-flex">
              <span krftmeTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" krftmeSortBy="description">
            <div class="d-flex">
              <span krftmeTranslate="krftmeApp.applicationUserOffer.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" krftmeSortBy="offer.id">
            <div class="d-flex">
              <span krftmeTranslate="krftmeApp.applicationUserOffer.offer">Offer</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" krftmeSortBy="applicationUser.id">
            <div class="d-flex">
              <span krftmeTranslate="krftmeApp.applicationUserOffer.applicationUser">Application User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let applicationUserOffer of applicationUserOffers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/application-user-offer', applicationUserOffer.id, 'view']">{{ applicationUserOffer.id }}</a>
          </td>
          <td>{{ applicationUserOffer.description }}</td>
          <td>
            <div *ngIf="applicationUserOffer.offer">
              <a [routerLink]="['/offer', applicationUserOffer.offer.id, 'view']">{{ applicationUserOffer.offer.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="applicationUserOffer.applicationUser">
              <a [routerLink]="['/application-user', applicationUserOffer.applicationUser.id, 'view']">{{
                applicationUserOffer.applicationUser.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/application-user-offer', applicationUserOffer.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" krftmeTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/application-user-offer', applicationUserOffer.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" krftmeTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(applicationUserOffer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" krftmeTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
