<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="applicationUserOffer">
      <h2 data-cy="applicationUserOfferDetailsHeading">
        <span krftmeTranslate="krftmeApp.applicationUserOffer.detail.title">Application User Offer</span>
      </h2>

      <hr />

      <krftme-alert-error></krftme-alert-error>

      <krftme-alert></krftme-alert>

      <dl class="row-md jh-entity-details">
        <dt><span krftmeTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ applicationUserOffer.id }}</span>
        </dd>
        <dt><span krftmeTranslate="krftmeApp.applicationUserOffer.description">Description</span></dt>
        <dd>
          <span>{{ applicationUserOffer.description }}</span>
        </dd>
        <dt><span krftmeTranslate="krftmeApp.applicationUserOffer.offer">Offer</span></dt>
        <dd>
          <div *ngIf="applicationUserOffer.offer">
            <a [routerLink]="['/offer', applicationUserOffer.offer.id, 'view']">{{ applicationUserOffer.offer.id }}</a>
          </div>
        </dd>
        <dt><span krftmeTranslate="krftmeApp.applicationUserOffer.applicationUser">Application User</span></dt>
        <dd>
          <div *ngIf="applicationUserOffer.applicationUser">
            <a [routerLink]="['/application-user', applicationUserOffer.applicationUser.id, 'view']">{{
              applicationUserOffer.applicationUser.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span krftmeTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/application-user-offer', applicationUserOffer.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span krftmeTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
