<div class="d-flex justify-content-center">
  <div class="col-8">
    <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
      <h2
        data-cy="ApplicationUserBadgeCreateUpdateHeading"
        id="krftme-application-user-badge-heading"
        krftmeTranslate="krftmeApp.krftmeMicroserviceApplicationUserBadge.home.createOrEditLabel"
      >
        Créer ou éditer un Application User Badge
      </h2>

      <div>
        <krftme-alert-error></krftme-alert-error>

        <div *ngIf="editForm.controls.id.value !== null" class="row mb-3">
          <label class="form-label" for="field_id" krftmeTranslate="global.field.id">ID</label>
          <input [readonly]="true" class="form-control" data-cy="id" formControlName="id" id="field_id" name="id" type="number" />
        </div>

        <div class="row mb-3">
          <label
            [ngbTooltip]="'krftmeApp.krftmeMicroserviceApplicationUserBadge.help.obtainedDate' | translate"
            class="form-label"
            for="field_obtainedDate"
            krftmeTranslate="krftmeApp.krftmeMicroserviceApplicationUserBadge.obtainedDate"
            >Obtained Date</label
          >
          <div class="d-flex">
            <input
              class="form-control"
              data-cy="obtainedDate"
              formControlName="obtainedDate"
              id="field_obtainedDate"
              name="obtainedDate"
              placeholder="YYYY-MM-DD HH:mm"
              type="datetime-local"
            />
          </div>
          <div
            *ngIf="editForm.get('obtainedDate')!.invalid && (editForm.get('obtainedDate')!.dirty || editForm.get('obtainedDate')!.touched)"
          >
            <small
              *ngIf="editForm.get('obtainedDate')?.errors?.required"
              class="form-text text-danger"
              krftmeTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
            <small
              [hidden]="!editForm.get('obtainedDate')?.errors?.datetimelocal"
              class="form-text text-danger"
              krftmeTranslate="entity.validation.datetimelocal"
            >
              Ce champ doit être une date et une heure.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_user" krftmeTranslate="krftmeApp.krftmeMicroserviceApplicationUserBadge.user">User</label>
          <select
            [compareWith]="compareApplicationUser"
            class="form-control"
            data-cy="user"
            formControlName="user"
            id="field_user"
            name="user"
          >
            <option *ngIf="editForm.get(['user'])!.value == null" [ngValue]="null" selected></option>
            <option *ngFor="let applicationUserOption of applicationUsersSharedCollection" [ngValue]="applicationUserOption">
              {{ applicationUserOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['user'])!.invalid && (editForm.get(['user'])!.dirty || editForm.get(['user'])!.touched)">
          <small
            *ngIf="editForm.get(['user'])?.errors?.required"
            class="form-text text-danger"
            krftmeTranslate="entity.validation.required"
          >
            Ce champ est obligatoire.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_badge" krftmeTranslate="krftmeApp.krftmeMicroserviceApplicationUserBadge.badge">Badge</label>
          <select [compareWith]="compareBadge" class="form-control" data-cy="badge" formControlName="badge" id="field_badge" name="badge">
            <option *ngIf="editForm.get(['badge'])!.value == null" [ngValue]="null" selected></option>
            <option *ngFor="let badgeOption of badgesSharedCollection" [ngValue]="badgeOption">{{ badgeOption.id }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['badge'])!.invalid && (editForm.get(['badge'])!.dirty || editForm.get(['badge'])!.touched)">
          <small
            *ngIf="editForm.get(['badge'])?.errors?.required"
            class="form-text text-danger"
            krftmeTranslate="entity.validation.required"
          >
            Ce champ est obligatoire.
          </small>
        </div>
      </div>

      <div>
        <button (click)="previousState()" class="btn btn-secondary" data-cy="entityCreateCancelButton" id="cancel-save" type="button">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span krftmeTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
          data-cy="entityCreateSaveButton"
          id="save-entity"
          type="submit"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span krftmeTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
