<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="badge">
      <h2 data-cy="badgeDetailsHeading"><span jhiTranslate="krftmeApp.badge.detail.title">Badge</span></h2>

      <hr />

      <krftme-alert-error></krftme-alert-error>

      <krftme-alert></krftme-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ badge.id }}</span>
        </dd>
        <dt><span jhiTranslate="krftmeApp.badge.label">Label</span></dt>
        <dd>
          <span>{{ badge.label }}</span>
        </dd>
        <dt><span jhiTranslate="krftmeApp.badge.picture">Picture</span></dt>
        <dd>
          <div *ngIf="badge.picture">
            <a (click)="openFile(badge.picture, badge.pictureContentType)">
              <img [src]="'data:' + badge.pictureContentType + ';base64,' + badge.picture" style="max-width: 100%" alt="badge image" />
            </a>
            {{ badge.pictureContentType }}, {{ byteSize(badge.picture) }}
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/badge', badge.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
