<div class="d-flex justify-content-center">
  <div class="col-8">
    <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
      <h2
        data-cy="CityCreateUpdateHeading"
        id="krftme-city-heading"
        krftmeTranslate="krftmeApp.krftmeMicroserviceCity.home.createOrEditLabel"
      >
        Créer ou éditer un City
      </h2>

      <div>
        <krftme-alert-error></krftme-alert-error>

        <div *ngIf="editForm.controls.id.value !== null" class="row mb-3">
          <label class="form-label" for="field_id" krftmeTranslate="global.field.id">ID</label>
          <input [readonly]="true" class="form-control" data-cy="id" formControlName="id" id="field_id" name="id" type="number" />
        </div>

        <div class="row mb-3">
          <label
            [ngbTooltip]="'krftmeApp.krftmeMicroserviceCity.help.name' | translate"
            class="form-label"
            for="field_name"
            krftmeTranslate="krftmeApp.krftmeMicroserviceCity.name"
            >Name</label
          >
          <input class="form-control" data-cy="name" formControlName="name" id="field_name" name="name" type="text" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small
              *ngIf="editForm.get('name')?.errors?.required"
              class="form-text text-danger"
              krftmeTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
            <small
              *ngIf="editForm.get('name')?.errors?.minlength"
              [translateValues]="{ min: 1 }"
              class="form-text text-danger"
              krftmeTranslate="entity.validation.minlength"
            >
              Ce champ doit faire au minimum 1 caractères.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            [ngbTooltip]="'krftmeApp.krftmeMicroserviceCity.help.zipCode' | translate"
            class="form-label"
            for="field_zipCode"
            krftmeTranslate="krftmeApp.krftmeMicroserviceCity.zipCode"
            >Zip Code</label
          >
          <input class="form-control" data-cy="zipCode" formControlName="zipCode" id="field_zipCode" name="zipCode" type="text" />
          <div *ngIf="editForm.get('zipCode')!.invalid && (editForm.get('zipCode')!.dirty || editForm.get('zipCode')!.touched)">
            <small
              *ngIf="editForm.get('zipCode')?.errors?.required"
              class="form-text text-danger"
              krftmeTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_region" krftmeTranslate="krftmeApp.krftmeMicroserviceCity.region">Region</label>
          <select
            [compareWith]="compareRegion"
            class="form-control"
            data-cy="region"
            formControlName="region"
            id="field_region"
            name="region"
          >
            <option *ngIf="editForm.get(['region'])!.value == null" [ngValue]="null" selected></option>
            <option *ngFor="let regionOption of regionsSharedCollection" [ngValue]="regionOption">{{ regionOption.id }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['region'])!.invalid && (editForm.get(['region'])!.dirty || editForm.get(['region'])!.touched)">
          <small
            *ngIf="editForm.get(['region'])?.errors?.required"
            class="form-text text-danger"
            krftmeTranslate="entity.validation.required"
          >
            Ce champ est obligatoire.
          </small>
        </div>
      </div>

      <div>
        <button (click)="previousState()" class="btn btn-secondary" data-cy="entityCreateCancelButton" id="cancel-save" type="button">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span krftmeTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
          data-cy="entityCreateSaveButton"
          id="save-entity"
          type="submit"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span krftmeTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
