<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="showcase">
      <h2 data-cy="showcaseDetailsHeading"><span jhiTranslate="krftmeApp.showcase.detail.title">Showcase</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ showcase.id }}</span>
        </dd>
        <dt><span jhiTranslate="krftmeApp.showcase.imageId">Image Id</span></dt>
        <dd>
          <span>{{ showcase.imageId }}</span>
        </dd>
        <dt><span jhiTranslate="krftmeApp.showcase.applicationUserOffer">Application User Offer</span></dt>
        <dd>
          <div *ngIf="showcase.applicationUserOffer">
            <a [routerLink]="['/application-user-offer', showcase.applicationUserOffer.id, 'view']">{{
              showcase.applicationUserOffer.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/showcase', showcase.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
