<div>
  <h2 id="page-heading" data-cy="MachineHeading">
    <span krftmeTranslate="krftmeApp.krftmeMicroserviceMachine.home.title">Machines</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span krftmeTranslate="krftmeApp.krftmeMicroserviceMachine.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-machine"
        [routerLink]="['/machine/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span krftmeTranslate="krftmeApp.krftmeMicroserviceMachine.home.createLabel"> Créer un nouveau Machine </span>
      </button>
    </div>
  </h2>

  <krftme-alert-error></krftme-alert-error>

  <krftme-alert></krftme-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="machines?.length === 0">
    <span krftmeTranslate="krftmeApp.krftmeMicroserviceMachine.home.notFound">Aucun Machine trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="machines && machines.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr (sortChange)="navigateToWithComponentValues()" [(ascending)]="ascending" [(predicate)]="predicate" krftmeSort>
          <th krftmeSortBy="id" scope="col">
            <div class="d-flex">
              <span krftmeTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th krftmeSortBy="name" scope="col">
            <div class="d-flex">
              <span krftmeTranslate="krftmeApp.krftmeMicroserviceMachine.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th krftmeSortBy="category.id" scope="col">
            <div class="d-flex">
              <span krftmeTranslate="krftmeApp.krftmeMicroserviceMachine.category">Category</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let machine of machines; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/machine', machine.id, 'view']">{{ machine.id }}</a>
          </td>
          <td>{{ machine.name }}</td>
          <td>
            <div *ngIf="machine.category">
              <a [routerLink]="['/machine-category', machine.category.id, 'view']">{{ machine.category.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/machine', machine.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" krftmeTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/machine', machine.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" krftmeTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(machine)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" krftmeTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
