<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="tag">
      <h2 data-cy="tagDetailsHeading"><span krftmeTranslate="krftmeApp.tag.detail.title">Tag</span></h2>

      <hr />

      <krftme-alert-error></krftme-alert-error>

      <krftme-alert></krftme-alert>

      <dl class="row-md jh-entity-details">
        <dt><span krftmeTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ tag.id }}</span>
        </dd>
        <dt><span krftmeTranslate="krftmeApp.tag.label">Label</span></dt>
        <dd>
          <span>{{ tag.label }}</span>
        </dd>
        <dt><span krftmeTranslate="krftmeApp.tag.applicationUserOffer">Application User Offer</span></dt>
        <dd>
          <div *ngIf="tag.applicationUserOffer">
            <a [routerLink]="['/application-user-offer', tag.applicationUserOffer.id, 'view']">{{ tag.applicationUserOffer.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span krftmeTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/tag', tag.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span krftmeTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
