<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="region">
      <h2 data-cy="regionDetailsHeading"><span krftmeTranslate="krftmeApp.region.detail.title">Region</span></h2>

      <hr />

      <krftme-alert-error></krftme-alert-error>

      <krftme-alert></krftme-alert>

      <dl class="row-md jh-entity-details">
        <dt><span krftmeTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ region.id }}</span>
        </dd>
        <dt><span krftmeTranslate="krftmeApp.region.name">Name</span></dt>
        <dd>
          <span>{{ region.name }}</span>
        </dd>
        <dt><span krftmeTranslate="krftmeApp.region.country">Country</span></dt>
        <dd>
          <div *ngIf="region.country">
            <a [routerLink]="['/country', region.country.id, 'view']">{{ region.country.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span krftmeTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/region', region.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span krftmeTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
