<div class="d-flex justify-content-center">
  <div class="col-8">
    <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
      <h2
        data-cy="RegionCreateUpdateHeading"
        id="krftme-region-heading"
        jhiTranslate="krftmeApp.krftmeMicroserviceRegion.home.createOrEditLabel"
      >
        Créer ou éditer un Region
      </h2>

      <div>
        <krftme-alert-error></krftme-alert-error>

        <div *ngIf="editForm.controls.id.value !== null" class="row mb-3">
          <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
          <input [readonly]="true" class="form-control" data-cy="id" formControlName="id" id="field_id" name="id"
                 type="number" />
        </div>

        <div class="row mb-3">
          <label
            [ngbTooltip]="'krftmeApp.krftmeMicroserviceRegion.help.name' | translate"
            class="form-label"
            for="field_name"
            jhiTranslate="krftmeApp.krftmeMicroserviceRegion.name"
          >Name</label
          >
          <input class="form-control" data-cy="name" formControlName="name" id="field_name" name="name" type="text" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small *ngIf="editForm.get('name')?.errors?.required" class="form-text text-danger"
                   jhiTranslate="entity.validation.required">
              Ce champ est obligatoire.
            </small>
            <small
              *ngIf="editForm.get('name')?.errors?.minlength"
              [translateValues]="{ min: 1 }"
              class="form-text text-danger"
              jhiTranslate="entity.validation.minlength"
            >
              Ce champ doit faire au minimum 1 caractères.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_country" jhiTranslate="krftmeApp.krftmeMicroserviceRegion.country">Country</label>
          <select
            [compareWith]="compareCountry"
            class="form-control"
            data-cy="country"
            formControlName="country"
            id="field_country"
            name="country"
          >
            <option *ngIf="editForm.get(['country'])!.value == null" [ngValue]="null" selected></option>
            <option *ngFor="let countryOption of countriesSharedCollection"
                    [ngValue]="countryOption">{{ countryOption.id }}</option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['country'])!.invalid && (editForm.get(['country'])!.dirty || editForm.get(['country'])!.touched)">
          <small
            *ngIf="editForm.get(['country'])?.errors?.required"
            class="form-text text-danger"
            jhiTranslate="entity.validation.required"
          >
            Ce champ est obligatoire.
          </small>
        </div>
      </div>

      <div>
        <button (click)="previousState()" class="btn btn-secondary" data-cy="entityCreateCancelButton" id="cancel-save"
                type="button">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
          data-cy="entityCreateSaveButton"
          id="save-entity"
          type="submit"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
