<div>
  <h2 id="page-heading" data-cy="ApplicationUserBadgeHeading">
    <span krftmeTranslate="krftmeApp.krftmeMicroserviceApplicationUserBadge.home.title">ApplicationUserBadges</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span krftmeTranslate="krftmeApp.krftmeMicroserviceApplicationUserBadge.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-application-user-badge"
        [routerLink]="['/application-user-badge/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span krftmeTranslate="krftmeApp.krftmeMicroserviceApplicationUserBadge.home.createLabel">
          Créer un nouveau Application User Badge
        </span>
      </button>
    </div>
  </h2>

  <krftme-alert-error></krftme-alert-error>

  <krftme-alert></krftme-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="applicationUserBadges?.length === 0">
    <span krftmeTranslate="krftmeApp.krftmeMicroserviceApplicationUserBadge.home.notFound">Aucun Application User Badge trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="applicationUserBadges && applicationUserBadges.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr (sortChange)="navigateToWithComponentValues()" [(ascending)]="ascending" [(predicate)]="predicate" krftmeSort>
          <th krftmeSortBy="id" scope="col">
            <div class="d-flex">
              <span krftmeTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th krftmeSortBy="obtainedDate" scope="col">
            <div class="d-flex">
              <span krftmeTranslate="krftmeApp.krftmeMicroserviceApplicationUserBadge.obtainedDate">Obtained Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th krftmeSortBy="user.id" scope="col">
            <div class="d-flex">
              <span krftmeTranslate="krftmeApp.krftmeMicroserviceApplicationUserBadge.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th krftmeSortBy="badge.id" scope="col">
            <div class="d-flex">
              <span krftmeTranslate="krftmeApp.krftmeMicroserviceApplicationUserBadge.badge">Badge</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let applicationUserBadge of applicationUserBadges; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/application-user-badge', applicationUserBadge.id, 'view']">{{ applicationUserBadge.id }}</a>
          </td>
          <td>{{ applicationUserBadge.obtainedDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="applicationUserBadge.user">
              <a [routerLink]="['/application-user', applicationUserBadge.user.id, 'view']">{{ applicationUserBadge.user.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="applicationUserBadge.badge">
              <a [routerLink]="['/badge', applicationUserBadge.badge.id, 'view']">{{ applicationUserBadge.badge.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/application-user-badge', applicationUserBadge.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" krftmeTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/application-user-badge', applicationUserBadge.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" krftmeTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(applicationUserBadge)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" krftmeTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
